# ─── Database ────────────────────────────────────────────────
# Ganti dengan connection string PostgreSQL Anda
DATABASE_URL="postgresql://user:password@localhost:5432/nearjob?schema=public"

# ─── NextAuth.js ─────────────────────────────────────────────
# Generate secret: openssl rand -base64 32
NEXTAUTH_SECRET="ganti-dengan-secret-yang-aman"
NEXTAUTH_URL="http://localhost:3000"

# ─── App ─────────────────────────────────────────────────────
NEXT_PUBLIC_APP_URL="http://localhost:3000"
