APP_NAME="NEAR JOB API"
APP_ENV=local
APP_KEY=base64:6bV8z1T3sOqR0mE9uA2wK4lX7cY8vN1pQ5rT2wE4mUo=
APP_DEBUG=true
APP_TIMEZONE="Asia/Jakarta"
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
# Untuk PostgreSQL atau MySQL di lingkungan produksi:
# DB_CONNECTION=pgsql
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_DATABASE=nearjob
# DB_USERNAME=postgres
# DB_PASSWORD=secret

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

SANCTUM_STATEFUL_DOMAINS="localhost:3000,localhost:8000"
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:8081,http://localhost:19006,*"
